*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(179, 131, 69);
}
.header{
    background-color: rgb(126, 100, 52);
    color: white;
    text-align: center;
    height: 7rem;
    padding: 2rem;
    font-size: 3rem;
}
