.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    padding: 1rem;
    gap: 1.5rem;
    /* flex-wrap: wrap; */
}
.card-container1{
    display: flex;
     flex-wrap: wrap;
    justify-content: center ;
    align-items: center;
    gap: 1.5rem;

}
.search{
    margin-top: 1rem;
    text-align: center;
    /* border: solid 2px red; */
}
input{
    width: 20rem;
    height: 3rem;
    font-size: large;
    background-color: white;
    padding: 0rem 1rem;
    border-radius: 10px ; 
}
button{
    height: 2rem;
    background-color: white;
    padding: 0rem 1rem;
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px ;
}
button:hover{
    cursor: pointer;
}