
.cards{
    margin-top: 1rem;
    border: 2px solid rgb(19, 12, 12);
    border-radius: 25px;
    position: relative;
    
}
.image{
    width: 350px;
    height: 450px;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}
img:hover{
    cursor: pointer;
    transform: scale(0.93);
}

h2{
    text-align: center;
    padding: 1rem;
}
ul{
    position: absolute;
    /* display: none; */
    background-color: white;
    top: 0;
    padding-top: 6rem;
    font-size: 1.5rem;
    width: 350px;
    height: 450px;
    text-align: center;

}



li{
    list-style-type: none;
    padding: 0.8rem;
    background-color: white;
}